body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 10px;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 40px);
}

header img {
    width: 140px;
    height: 140px;
    border-radius: 15%;
    margin: 10px;
}

header h1 {
    font-size: 1.8rem;
    color: #2c3e50;
    margin: 0;
}

section {
    padding: 20px;
    max-width: 600px;
    margin: 10px auto;
}

#about p {
    font-size: 1rem;
    max-width: 90%;
    margin: 10px auto;
}

#about a {
    color: #1d80c2;
    text-decoration: none;
}

#about a:hover {
    text-decoration: underline;
}

#social {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 10px 0;
}

#social a {
    color: #1e3144;
    font-size: 1.5rem;
}

#social a:hover {
    color: #1d80c2;
}

@media (max-width: 600px) {
    header img {
        width: 100px;
        height: 100px;
    }

    header h1 {
        font-size: 1.5rem;
    }

    #about p {
        font-size: 0.9rem;
    }

    #social a {
        font-size: 1.2rem;
    }
}