@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Gentium+Book+Plus&display=swap');
/* 
font-family: 'Crimson Text', serif;
font-family: 'Gentium Book Plus', serif;
*/


*{
    user-select: none;
}


body{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    margin: 0 auto;
    width: clamp(240px, 100%, 840px);
}

nav,
footer{
    width: 100%;
    padding: 20px;
    text-align: center;
}
nav{
    margin-top: 50px;
    font-family: 'Gentium Book Plus', serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav > img{
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid #2a2a2a;
    object-fit: contain;
    overflow: hidden;
}
nav > div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
nav > div > *{
    margin: 0;
    text-align: left;
}


main{
    width: 100%;
    padding: 20px;
    font-family: 'Crimson Text', serif;
}
main div{
    margin: 20px auto;
    padding: 10px;
}
/* about */
#about p{
    text-indent: 40px;
    font-size: large;
    text-align: justify;
}
/* socials */
#social a:any-link{
    display: block;
    padding: 5px 15px;
    margin: 10px 0;
    border-radius: 8px;
    text-align: right;
    text-decoration: none;
    border: 1px solid #000;
}
#social a:any-link:hover{
    transition: 100ms;
    background: #343444;
    color: #fff;
}


/* aside */
aside{
    width: 100%;
    padding: 20px;
}
aside > div{
    margin: 20px auto;
    padding: 10px;
}
/* comic style */
aside #a_comic *{
    margin: 0;
}
aside #a_comic img{
    margin: 10px auto;
    width: 100%;
}



div em{
    background-color: #e0e0f6;
    padding: 0 5px;
    font-size: small;
}
footer{
    font-size: smaller  ;
}

@media (orientation: landscape) {
    main{
        width: 50%;
    }
    aside{
        width: 30%;
    }
    aside #comic img{
        max-width: 320px;
    }
}