body{
    width: 100vw;
    height: 100vh;
    padding: 30px 20px;
    margin: 0;
    box-sizing: border-box;
}

nav, 
main,
footer{
    width: clamp(240px, 100%, 520px);
    margin: 20px auto;
}
nav img{
    width: 100px;
}

main div p{
    text-indent: 40px;
    letter-spacing: 1px;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#social_wrap{
    text-align: center;
} 
#social a:any-link{
    display: block;
    padding: 5px 10px;
    margin: 10px auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 2px 2px #000;
    text-decoration: none;
    color: #000;
    font-weight: 900;
}