*{
    margin: 0;
    box-sizing: border-box;
}
#userInfo{
    background: #dbdbdb;
    text-align: center;
    padding: 5px;
}
#userInfo marquee span {
    display: inline-block;
    padding: 0 10px;
    font-size: 12px;
    margin: 0 5px;
    background: #406a65;
    color: #ffffff;
}



#chatList{
    width: 80%;
    margin: 20px auto;
}
.message,
.log_joining{
    width: 60%;
}
.message{
    border: 0.2px solid #000;
    border-radius: 10px;
    padding: 6px;
    margin: 20px 0;
    position: relative;
    animation: slide 200ms ease-in forwards;
}
@keyframes slide {
    from{ top: 100vh; }
    to{ top: 0; }
}
.log_joining{
    margin: 20px auto;
    text-align: center;
    font-size: smaller;
}
.my_message{
    margin-left: 40%;
    text-align: right;
}



#messageForm{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
#messageForm input {
    width: 80%;
    padding: 10px;
}
#messageForm button {
    width: 20%;
    padding: 10px;
}
