@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Poppins&display=swap');

* {
  user-select: none;
}

html {
  background-color: #cfcccc;
}

body {
  font-family: 'Poppins';
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 0;
  background: rgb(225, 225, 225);
  background: linear-gradient(
    60deg,
    rgba(224, 225, 245, 0.881) 0%,
    rgba(228, 239, 247, 0.858) 100%
  );
  width: clamp(240px, 100%, 1080px);
}

nav,
footer {
  width: 100%;
  padding: 20px;
  text-align: center;
}
nav {
  font-family: 'Kanit';
  margin: 0 20px;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav > img {
  width: 120px;
  margin-right: 20px;
  border-radius: 15%;
  border: 1px solid #2a2a2a;
  object-fit: contain;
  overflow: hidden;
  transition: 200ms;
}
nav > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
nav > div > * {
  margin: 0;
  text-align: left;
}
nav > div > h1 {
  font-size: larger;
}

main {
  width: 100%;
  padding: 20px;
}
main div {
  margin: 20px auto;
  padding: 10px;
}
/* about */
#about p {
  text-indent: 40px;
  font-size: medium;
}
/* socials */
#social a:any-link {
  display: block;
  padding: 5px 15px;
  margin: 10px 0;
  border-radius: 8px;
  text-align: right;
  text-decoration: none;
  border: 1px solid #000;
  color: #000;
  transition: 1s;
}
#social a:any-link:hover {
  transition: 3s;
  background: #949494;
  text-align: left;
}

/* aside */
aside {
  width: 100%;
  padding: 20px;
  margin: 20px 0;
}
aside img {
  margin: 10px auto;
  width: 100%;
}

div em {
  background-color: #ebefefc6;
  padding: 0 5px;
  font-size: smaller;
}
footer {
  font-size: smaller;
  font-family: monospace;
}

@media (orientation: landscape) {
  main {
    width: 50%;
  }
  aside {
    width: 40%;
  }
}
