@import url("https://fonts.googleapis.com/css2?family=Agbalumo");

* {
  user-select: none;
}

html {
  background-color: #00000013;
}

body {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 0;
  background: rgb(234, 238, 239);
  background: linear-gradient(
    60deg,
    rgba(207, 152, 227, 0.548) 0%,
    rgba(175, 125, 157, 0.59) 100%
  );
  width: clamp(240px, 100%, 840px);
}

nav,
footer {
  width: 100%;
  padding: 20px;
  text-align: center;
}
nav {
  margin-top: 50px;
  font-family: "Agbalumo", serif;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav > img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 50%;
  border: 1px solid #2a2a2a;
  object-fit: contain;
  overflow: hidden;
  transition: 200ms;
}
nav > img:hover {
  transition: 200ms;
  scale: 1.1;
  transform: rotateZ(-15deg);
}
nav > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
nav > div > * {
  margin: 0;
  text-align: left;
}

main {
  width: 100%;
  padding: 20px;
}
main div {
  margin: 20px auto;
  padding: 10px;
}
/* about */
#about p {
  text-indent: 40px;
  font-size: large;
  text-align: left;
}
/* socials */
#social a:any-link {
  font-family: monospace;
  display: block;
  padding: 5px 15px;
  margin: 10px 0;
  border-radius: 8px;
  text-align: right;
  text-decoration: none;
  border: 1px solid #000;
  color: #000;
  transition: 200ms;
}
#social a:any-link:hover {
  transition: 200ms;
  background: #515151;
  color: #ffffff;
  font-weight: 900;
  padding-right: 200px;
}

/* aside */
aside {
  width: 100%;
  padding: 20px;
  margin: 20px 0;
}
aside img {
  margin: 10px auto;
  width: 100%;
}

div em {
  background-color: #b6d2d2;
  padding: 0 5px;
  font-size: medium;
}
footer {
  font-size: smaller;
}

@media (orientation: landscape) {
  main {
    width: 50%;
  }
  aside {
    width: 40%;
  }
}
